{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeux instantanés</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <link rel="icon" href="{% static 'img/favicon.png' %}" />
    {% block stylesheet %}{% endblock %}
</head>

<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="/">
                <img src="{% static 'img/logo.png' %}" alt="Logo">
            </a>
        </div>
        <div class="navbar-search">
            <input type="text" placeholder="Recherche">
        </div>
        <div class="navbar-actions">
            <a href="#" class="navbar-logo cart"><img src="{% static 'img/panier.svg' %}" alt="Panier"></a>
            <a href="/connexion" class="navbar-logo connection"><img src="{% static 'img/connexion.svg' %}" alt="Connexion"></a>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <script src="{% static 'js/navbar.js' %}"></script>
    {% block javascript %}{% endblock %}
</body>

</html>